.wrapper{
    display: flex;
    flex-direction: row;
}
.view{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.4s;
}
.activeView{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.quickStatsContainer{
    grid-area: 1 / 5 / 5 / 7;
}

.cpuGeneralView{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: .5rem;
    padding: .5rem;
}
.cpuGeneralChart{
    grid-area: 1 / 1 / 5 / 5;
}
.cpuCoresView{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: .5rem;
    padding: .5rem;
}
.cpuCoresChart{
    grid-area: 1 / 1 / 5 / 4;
}
.memView{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: .5rem;
    padding: .5rem;
}
.memPieChart{
    grid-area: 5 / 5 / 7 / 7;
}
.memAreaChart{
    grid-area: 1 / 1 / 5 / 7;
}
.processesContainer{
    grid-area: 5 / 1 / 7 / 7;
}