.elementContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.title{
    font-size: 1rem;
    margin-bottom: .4rem;
}
.data{
    font-size: 2rem;
}
.label{
    font-size: 1rem;
}
.unit{
    font-size: 1.2rem;
}