.sidebar{
    background-color: var(--color-black);
    width: 350px;
    height: 100vh;
    padding: 1rem;
    position: relative;
    transition: transform 0.3s ease-in-out;
    color: var(--color-white);
}