.staticSection{
    top: 0;
    right: 0;
    padding: 1rem;
    width: 400px;
    background-color: var(--color-light-green);
}
.sectionTitle{
    text-align: center;
    font-size: 2.5rem;
    color: var(--color-strong-yellow);
    text-shadow: var(--color-black) 0 0 10px;;
    padding-bottom: .5rem;
    border-bottom: 2px solid #cbf3f0
}
.attributeName{
    font-size: 1rem;
    font-weight: 700;
}
.componentName{
    margin: 1rem 0 .5rem 0;
    font-size: 1.8rem;
}
.componentSeparator{
    margin: .5rem 0;
}