.sidebarElement{
    width: 90%;
    background-color: var(--color-light-blue);
    width: 100%;
    padding: 0.5rem;
    font-size: 1.3rem;
    margin: 0.5rem 0;
    border: 0;
    transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: 1rem;
}
.sidebarElement:hover{
    background-color: var(--color-light-yellow);
}
.active {
    background-color: var(--color-yellow) !important;
    box-shadow: 0 0 10px var(--color-black);
}